img {
    display: block;
    width: 550px;
    margin: 0 auto;
    top: 51%;
    left: 50%;
    position:absolute; 
    margin-top: -270px;
    margin-left: -285px;
}


#info {
    position: absolute;
    padding: 15px 0 0 15px;
    display: inline-block;
    opacity: 0.75;
}
a {
    text-decoration: none;
    color: #000000;
    margin-right: 12px;
    font-family: Arial, sans-serif;
    font-size: 13px;
}
input {
    display: block;
    width: 450px;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    position:absolute; 
    margin-top: -60px;
    margin-left: -250px;
    padding: 30px 8px 0 10px;
    border-radius: 30px;
    font-size: 20px;
    outline: none;
    border: 1.5px solid #f2f2f2;
    
}
    
.container {
    display: flex;
    top: 54%;
    left:30%;
    position:absolute;
    
  }

  .container button:first-child
   {
    margin-right: 14px;
    border-radius: 5px;
    background-color: #f2f2f2;
    font-size: 14px;
    border: 1px solid #f2f2f2;
    min-width: 54%;
    margin: 11px 5px;
    padding: 10px;
    cursor: pointer;

  }

  .container button:last-child {
  
    flex-grow: 1;
    min-width: 54%;
    border-radius: 4px;
    background-color: #f2f2f2;
    font-size: 14px;
    border: 1px solid #f2f2f2;
    margin: 11px 5px;
    padding: 10px;
    cursor: pointer;
  }
  
  .other {
      display: inline-block;
      position: absolute;
      top: 95%;
      border: 1px solid #f2f2f2;
      background: #f2f2f2;
      width: 130%;
      height: 37px;
      margin: 0 auto;
      padding: 7px;
    
  }
  .otherone {
   display: inline-block;
   position: absolute;
   top: 95%;
   right: 3%;
   padding: 7px;
  }

 